In [14]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns

# Acquire

Loan Prediction

Project idea: The idea behind this ML project is to build a model that will classify how much loan the user can take. It is based on the userâ€™s marital status, education, number of dependents, and employments. We can build a linear model for this project.

In [15]:
df1 = pd.read_csv('loan.csv')

In [16]:
df2 = pd.read_csv('loan2.csv')

In [17]:
df1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [18]:
df2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [19]:
df1.shape

(614, 13)

In [20]:
df2.shape

(367, 12)

In [21]:
# merge the two dataframes
df = df1.merge(df2, how='outer', on='Loan_ID')

In [26]:
fig.set_figheight(7)
fig.set_figwidth(9)

# plt.figure(figsize=(10,7))
df.hist()

NameError: name 'fig' is not defined

# Prepare

In [ ]:
# rename column
df = df.rename(columns={'Cause of Death': "cause_of_death"})

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
# check for nulls
df.isna().sum()

In [ ]:
# drop nulls
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
def prep_function():
    # rename column
    df = df.rename(columns={'Cause of Death': "cause_of_death"})
    # drop nulls
    df.dropna(inplace=True)